* {
  font-family: "Open Sans";
}

.v-btn {
  text-transform: capitalize !important;
  border-radius: 4px !important;
}

.v-input__slot {
  background: #fafafa !important;
  border-radius: 4px !important;
  height: 49px !important;
  border: 0 !important;
  box-shadow: 0 !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px;
  padding-right: 10px;
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}
.v-input__icon {
  font-size: 20px !important;
  margin-top: 8px !important;
}

.v-list-item--active {
  background: #fff !important;
  border-radius: 4px;
  color: #3d3d3d !important;
  &:after {
    background: #ffffff !important;
    color: #3d3d3d !important;
  }
  &::before {
    background: #ffffff !important;
    color: #3d3d3d !important;
  }
  .v-list-item__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px;
    /* identical to box height */

    color: #3d3d3d !important;
  }
}
.v-list-item {
  height: 50px !important;
}

.page-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 37.5789px;
  line-height: 51px;

  color: #3d3d3d;
}
.page-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #160c28;

  opacity: 0.3;
}

.td-shadow {
  box-shadow: 12px 18px 45px rgba(0, 0, 0, 0.07) !important;
}
.v-data-table {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #3d3d3d !important;
}
.v-data-table-header {
  background-color: #f0f1f6 !important;
  border-bottom: none !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #3d3d3d;

  opacity: 0.5;
}

.theme--light.v-data-table tr {
  border: 5px solid #ddd !important;
  // height: 1200px !important;
}

.blur {
  filter: blur(2px);
}

//Form Styles
.form-title {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 33px !important;
  /* identical to box height */

  color: #3d3d3d !important;
}
.form-description {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;

  color: #160c28 !important;

  opacity: 0.3 !important;
}

.form-subheading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #3d3d3d;
}
.form-col {
  height: 70px;
}
.theme--light.v-progress-linear {
  border-radius: 20px !important;
}
