<template>
  <div>
    <div class="text-right pa-4">
      <p>Don’t have an account? <nuxt-link to="/auth/signup">Sign Up</nuxt-link></p>
    </div>
    <v-form lazy-validation v-model="valid" ref="login">
      <v-layout row wrap justify-center :px-4="$vuetify.breakpoint.smAndDown">
        <v-flex md12 text-center mb-6>
          <img src="../../static/assets/logo.svg" alt="" />
          <h3 class="mt-8">Forgot Password</h3>
          <p class="mt-2">
            Deliver your parcels within and outside Lagos way faster,<br />
            more reliable and smartly trackable with Tide.
          </p>
        </v-flex>
        <v-flex md3>
          <v-text-field
            placeholder="Email"
            @keypress.enter.prevent="resetPassword()"
            v-model="form.email"
            required
            :rules="emailRules"
          >
          </v-text-field>

          <div class="text-center">
            <v-btn
              class="darkblue white--text px-16 mb-6"
              :loading="loading"
              @click="resetPassword()"
              large
              text
              >Reset Password</v-btn
            ><br />

            <nuxt-link style="color: #a9a9a9" to="/auth/login"  :class="{'mb-16' : $vuetify.breakpoint.smAndDown}"
              >Remember Password?</nuxt-link
            >
          </div>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>
<script>
export default {
  layout: 'login',
  data() {
    return {
      show: false,
      show1: false,
      loading: false,
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      form: {
        email: '',
        callback_url: window.location.origin,
      },
    }
  },
  methods: {
    async resetPassword() {
      if (this.$refs.login.validate()) {
        this.loading = true
        await this.$store
          .dispatch('auth/forgotpassword', this.form)
          .then((response) => {
            this.$toastr.success(response.message, 'Success')
            this.loading = false
          })
          .catch((error) => {
            if (error.response) {
              this.$toastr.error(error.response.data.message, 'Ooops')
            } else {
              this.$toastr.error(error, 'Ooops')
            }
            this.loading = false
          })
      }
    },
  },
}
</script>
<style lang="scss" scoped>
h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #3d3d3d;
}
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #a9a9a9;
  a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #394a63;
  }
}
.v-input__slot::before {
  border: 0 !important;
}
</style>
