<template>
  <div>
    <div class="text-right pa-4">
      <p>
        <a href="javascript:void(0)" @click="$store.dispatch('auth/logout')"
          >Logout</a
        >
      </p>
    </div>
    <v-form lazy-validation v-model="valid" ref="verify">
      <v-layout row wrap justify-center :px-4="$vuetify.breakpoint.smAndDown">
        <v-flex md12 text-center mb-6>
          <img src="../../static/assets/logo.svg" alt="" />
          <h3 class="mt-8">OTP Confirmation</h3>
          <p class="mt-2">
            Deliver your parcels within and outside Lagos way faster,<br />
            more reliable and smartly trackable with Tide.
          </p>
        </v-flex>
        <v-flex md3>
          <v-text-field
            @keypress.enter.prevent="verifyOtp()"
            placeholder="Enter OTP"
            v-model="form.verification_otp"
            required
            :rules="[(v) => !!v || 'OTP is required']"
          >
          </v-text-field>
          <v-row class="mb-8">
            <v-col>
              <p v-if="(min == sec) == 0" class="small">
                Resend OTP IN {{ min }}:{{ sec }}
              </p>
              <!-- <a href="javascript:void(0)" v-else @click="resendOtp()"
                >Resend OTP</a
              > -->
              <v-btn x-small v-else text class="accent" @click="resendOtp()" :loading="loadingOtp">Resend OTP</v-btn>
            </v-col>
          </v-row>
          <div class="text-center">
            <v-btn
              class="darkblue white--text px-16 mb-6"
              @click="verifyOtp()"  :class="{'mb-16' : $vuetify.breakpoint.smAndDown}"
              :loading="loading"
              large
              text
              >Submit</v-btn
            ><br />
          </div>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>
<script>
var start
export default {
  layout: 'otp',
  data() {
    return {
      show: false,
      show1: false,
      loading: false,
      loadingOtp: false,
      valid: true,
      form: {},
      min: 0,
      sec: 59,
    }
  },
  watch: {
    sec: function () {
      if (this.sec == 0 && this.min > 0) {
        // this.decreaseSec()
        if (this.min > 0) {
          this.min -= 1
          this.sec = 59
        } else {
          this.min = 0
          this.sec = 0
        }
      } else if (this.sec == 0 && this.min == 0) {
        this.sec = 0
        this.min = 0
      }
    },
  },
  methods: {
    decreaseSec() {
      if (this.sec > 0) {
        start = setInterval(() => {
          this.sec -= 1
          if (this.sec == 0 && this.min == 0) {
            clearInterval(start)
          }
        }, 1000)
      }
    },
    async verifyOtp() {
      if (this.$refs.verify.validate()) {
        this.loading = true
        await this.$store
          .dispatch('auth/verifyotp', this.form)
          .then((response) => {
            this.$toastr.success(response.message, 'Success')
            this.loading = false
            this.$router.push('/dashboard')
          })
          .catch((error) => {
            if (error.response) {
              this.$toastr.error(error.response.data.message, 'Ooops')
            } else {
              this.$toastr.error(error, 'Ooops')
            }
            this.loading = false
          })
      }
    },
    async resendOtp() {
      this.loadingOtp = true
      await this.$store
        .dispatch('auth/resendotp', this.form)
        .then((response) => {
          this.$toastr.success(response.message, 'Success')
          this.loadingOtp = false
          this.min = 0
          this.sec = 59
          this.decreaseSec()
        })
        .catch((error) => {
          if (error.response) {
            this.$toastr.error(error.response.data.message, 'Ooops')
          } else {
            this.$toastr.error(error, 'Ooops')
          }
          this.loadingOtp = false
        })
    },
  },
  mounted() {
    this.decreaseSec()
  },
}
</script>
<style lang="scss" scoped>
h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #3d3d3d;
}
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #a9a9a9;
  a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #394a63;
  }
}
p.small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  color: #a9a9a9;
}
.v-input__slot::before {
  border: 0 !important;
}
</style>
