<template>
  <div>
    <div class="text-right pa-4">
      <p>Already have an account? <nuxt-link to="/auth/login">Login</nuxt-link></p>
    </div>
    <v-form lazy-validation v-model="valid" ref="signup">
      <v-layout row wrap justify-center :px-4="$vuetify.breakpoint.smAndDown">
        <v-flex md12 text-center mb-6>
          <img src="../../static/assets/logo.svg" alt="" />
          <h3 class="mt-8">Sign Up</h3>
          <p class="mt-2">
            Deliver your parcels within and outside Lagos way faster,<br />
            more reliable and smartly trackable with Tide.
          </p>
        </v-flex>
        <v-flex md7>
          <v-alert
            v-model="alert"
            outlined
            dense
            type="error"
            v-if="errors.email || errors.phone"
          >
            <p class="error--text" v-if="errors.email">
              {{ errors.email[0] }}
            </p>
            <p class="error--text" v-if="errors.phone">
              {{ errors.phone[0] }}
            </p>
          </v-alert>
          <v-layout row wrap justify-center>
            <v-flex md6 px-4>
              <v-text-field
                placeholder="First Name"
                v-model="form.first_name"
                required
                :rules="[(v) => !!v || 'First name is required']"
              >
              </v-text-field>
            </v-flex>
            <v-flex md6 px-4>
              <v-text-field
                placeholder="Last Name"
                v-model="form.last_name"
                required
                :rules="[(v) => !!v || 'Last name is required']"
              >
              </v-text-field>
            </v-flex>
            <v-flex md6 px-4>
              <v-text-field
                placeholder="Email"
                v-model="form.email"
                required
                :rules="emailRules"
              >
              </v-text-field>
            </v-flex>
            <v-flex md6 px-4>
              <v-text-field
                placeholder="Phone Number"
                v-model="form.phone"
                required
                :rules="[(v) => !!v || 'Last name is required']"
              >
              </v-text-field>
            </v-flex>
            <v-flex md6 px-4>
              <v-text-field
                :append-icon="show ? 'ri-eye-line' : 'ri-eye-off-line'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                placeholder="Password"
                v-model="form.password"
                required
                :rules="[(v) => !!v || 'Password is required']"
              >
              </v-text-field>
            </v-flex>
            <v-flex md6 xs12 px-4>
              <v-text-field
                placeholder="Confirm Password"
                :append-icon="show1 ? 'ri-eye-line' : 'ri-eye-off-line'"
                :type="show1 ? 'text' : 'password'"
                @click:append="show1 = !show1"
                v-model="form.password_confirmation"
                required
                :rules="passwordRules"
              >
              </v-text-field>
            </v-flex>
            <v-flex md3 mt-4 px-4>
              <v-btn
                class="darkblue white--text"
                text
                :loading="loading"
                @click="register()" :class="{'mb-16' : $vuetify.breakpoint.smAndDown}"
                large
                block
                >Sign Up</v-btn
              >
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>
<script>
import jwt_decode from 'jwt-decode'
export default {
  layout: 'signup',
  data() {
    return {
      show: false,
      show1: false,
      loading: false,
      alert: false,
      valid: true,
      passwordRules: [
        (v) => !!v || 'Password Confirmation is required',
        (v) => v == this.form.password || 'The two paswords must match',
      ],
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      errors: [],
      form: {},
    }
  },
  methods: {
    async register() {
      if (this.$refs.signup.validate()) {
        this.loading = true
        await this.$store
          .dispatch('auth/register', this.form)
          .then((response) => {
            this.$store.commit('auth/SET_AUTH')
            this.$store.commit('auth/setToken', response.data)
            this.$toastr.success(response.message, 'Success')
            var token = response.data
            var decoded = jwt_decode(token)
            const user = decoded.user
            this.$store.commit('auth/SET_USER', user)
            this.$router.push('/auth/otp')
            this.loading = false
          })
          .catch((error) => {
            if (error.response) {
              this.$toastr.error(error.response.data.message, 'Ooops')
              this.errors = error.response.data.errors
              this.alert = true
              this.loading = false
              setTimeout(() => {
                this.alert = false
              }, 4000)
            } else {
              this.$toastr.error(error, 'Ooops')
              this.loading = false
            }
          })
      }
    },
  },
}
</script>
<style lang="scss" scoped>
h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #3d3d3d;
}
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #a9a9a9;
  a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #394a63;
  }
}
.v-input__slot::before {
  border: 0 !important;
}
</style>
