<template>
  <v-app>
    <v-navigation-drawer  app class="darkblue pa-6" id="blob">
      <img src="../static/assets/logo-dashboard.svg" alt="" />
      <div class="dp pt-3 mt-4">{{full_name | getDp}}</div>
      <h4 class="mt-4">Hello, {{user.first_name}}</h4>
      <p class="small">{{user.email}}</p>
      <v-list class="pt-0 mt-10" dark :disabled="blur">
        <v-list-item

          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content class="menu-text">
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main class="main">
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  middleware: 'authenticated',
  data() {
    return {
      full_name: '',
      items: [
        {
          icon: 'ri-function-line',
          title: 'Overview',
          to: '/dashboard',
        },
        {
          icon: 'ri-truck-line',
          title: 'Deliveries',
          to: '/deliveries',
        },
        {
          icon: 'ri-mail-send-fill',
          title: 'Transactions',
          to: '/transactions',
        },
        {
          icon: 'ri-settings-2-line',
          title: 'Settings',
          to: '/settings',
        },
        {
          icon: 'ri-logout-box-r-line',
          title: 'Logout',
          to: '/logout',
        },
      ],
    }
  },
  mounted () {
    this.full_name = this.user.first_name + ' ' + this.user.last_name
  },
  watch: {
    blur: function () {
      this.blurrer()
    },
  },
  methods: {
    blurrer() {
      if (this.blur) {
        document.getElementById('blob').classList.add('blur')
      } else {
        document.getElementById('blob').classList.remove('blur')
      }
    },
  },
  computed: {
    ...mapGetters('auth', ['blur', 'user']),
  },
}
</script>
<style lang="scss" scoped>
.main {
  background-color: #f8fafb !important;
}
.dp {
  height: 52px;
  width: 52px;
  background: #fff;
  border-radius: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #3d3d3d;
}
h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
p.small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #fff;
  opacity: 0.3;
}
.menu-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}
</style>
