<template>
  <v-app>
    <v-main class="bg">
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
<style lang="scss" scoped>
.bg {
  background-image: url('../static/assets/signup-bg.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
}

@media only screen and (max-width: 768px){
  .bg{
    background-image: unset;
  }
}

</style>
