<template>
  <div>
    <v-navigation-drawer width="500" right fixed v-model="drawer">
      <div class="text-right">
        <v-btn icon @click="drawer = !drawer"
          ><v-icon>ri-close-line</v-icon></v-btn
        >
      </div>
      <div class="pa-4 px-10">
        <h3 class="form-title">Request Delivery</h3>
        <p class="form-description">A list of all pick up requests</p>

        <v-form>
          <h5 class="form-subheading">Pick Up Details</h5>
          <v-divider class="mb-2"></v-divider>
          <v-row>
            <v-col cols="12" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Delivery Address"
                v-model="form.delivery_address"
                required
                :rules="[(v) => !!v || 'Delivery Address is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers first name"
                v-model="form.first_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers last name"
                v-model="form.last_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers phone no"
                v-model="form.phone"
                required
                :rules="[(v) => !!v || 'Receivers phone number is required']"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <h5 class="form-subheading mt-8">Drop Off Details</h5>
          <v-divider class="mb-2"></v-divider>
          <v-row>
            <v-col cols="12" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Delivery Address"
                v-model="form.delivery_address"
                required
                :rules="[(v) => !!v || 'Delivery Address is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers first name"
                v-model="form.first_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers last name"
                v-model="form.last_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers phone no"
                v-model="form.phone"
                required
                :rules="[(v) => !!v || 'Receivers phone number is required']"
              >
              </v-text-field>
            </v-col>
          </v-row>

           <h5 class="form-subheading mt-8">Other Details</h5>
          <v-divider class="mb-2"></v-divider>
          <v-row>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-select
                placeholder="Package Category"
                v-model="form.delivery_address"
                required
                :rules="[(v) => !!v || 'Delivery Address is required']"
              >
              </v-select>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers first name"
                v-model="form.first_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers last name"
                v-model="form.last_name"
                required
                :rules="[(v) => !!v || 'Receivers first name is required']"
              >
              </v-text-field>
            </v-col>
            <v-col cols="6" class="my-0 py-0 form-col">
              <v-text-field
                placeholder="Receivers phone no"
                v-model="form.phone"
                required
                :rules="[(v) => !!v || 'Receivers phone number is required']"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </div>
    </v-navigation-drawer>
    <v-overlay
      @click="drawer = !drawer"
      :class="drawer ? 'backdrop' : ''"
      color="white"
      :value="drawer"
    ></v-overlay>
    <v-container>
      <v-row class="mt-6">
        <v-col>
          <h2 class="page-title">Deliveries</h2>
          <p class="page-subtitle">A list of all pick up requests</p>
        </v-col>
        <v-col class="text-right">
          <v-btn large text class="blue white--text" @click="drawer = !drawer"
            >Request Delivery</v-btn
          >
        </v-col>
      </v-row>
      <v-card style="min-height: 85vh" class="pa-4 td-shadow">
        <v-data-table :headers="headers" :items="deliveries"> </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {

  data() {
    return {
      drawer: false,
      form: {},

      headers: [
        { text: 'Pick Up', value: 'pickup' },
        { text: 'Drop Off', value: 'dropoff' },
        { text: 'Category', value: 'category' },
        { text: 'Del. Date/Time', value: 'delivery_date_time' },
        { text: 'Vehicle Type', value: 'vehicle_type' },
        { text: 'Cost', value: 'cost' },
        { text: 'Payment Type', value: 'payment_type' },
        { text: 'Status', value: 'status' },
      ],
      deliveries: [
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
        {
          id: 1,
          pickup: 'Bob Daniels',
          dropoff: 'Katie Brasen',
          category: 'Food',
          delivery_date_time: '12/02/20 - 3:34',
          vehicle_type: 'Bus',
          cost: 3500,
          payment_type: 'Wallet',
          status: 'Completed',
        },
      ],
    }
  },
  methods: {},
  watch: {
    drawer: function () {
      this.$store.commit('auth/BLUR_PAGE', this.drawer)
    },
  },
}
</script>
<style lang="scss" scoped>
.backdrop {
  backdrop-filter: blur(3px);
}
</style>
