<template>
  <v-container>
    <v-row class="mt-6">
      <v-col cols="10 pb-0">
        <h3 class="page-title">Hi {{ user.first_name }}</h3>
      </v-col>
      <v-col class="text-right pb-0">
        <v-card flat class="pb-0">
          <v-layout row wrap px-3>
            <v-flex md8 pr-2>
              <span class="wallet-balance">
                Wallet Balance
              </span>
              <p class="wallet">
                &#8358;{{20000 | formatPrice}}
              </p>
            </v-flex>
            <v-flex md4>
              <v-card flat class="blue text-center white--text pa-3">
                <v-icon color="white">ri-wallet-3-line</v-icon>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapGetters } from 'vuex'
export default {

  data() {
    return {}
  },
  computed: {
    ...mapGetters('auth', ['blur', 'user']),
  },
}
</script>
<style scoped>
.wallet-balance {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #cacaca;
}
.wallet {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16.9474px;
  line-height: 13px;
  /* identical to box height */

  color: #3d3d3d;
}
</style>
